* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
body,
img {
    max-width: 100%;
}
#html,
body {
    margin: auto;
}

.ab a,
.ellipsis {
    text-overflow: ellipsis;
}

#uptop a:hover,
a {
    text-decoration: none;
}
body {
    background: #f2f2f2;
    padding: 0;
    margin: 0 auto;
    font-family: helvetica, arial, sans-serif;
    font-weight: 400;
    line-height: 1.42857;
    font-size: 15px;
    color: #000;
}

h1 {
    font-size: 18px;
    a {
        color: red;
    }
}

button,
input,
textarea {
    -webkit-padding-start: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
#html {
    max-width: 600px;
    padding: 10px 0;
}
#footer,
#header {
    border: 0 solid #c5c5c5;
}
#header {
    background: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
#footer {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background: #d4d4d4;
    color: #222;
    text-align: justify;
    padding: 20px;
}
.main_search {
    background: #fff;
    box-shadow: 0 0 5px 1px rgba(204, 204, 204, 0.61);
    max-width: 100%;
    margin: auto;
}

#main {
    max-width: 1100px;
    margin: 1vw auto;
    box-shadow: 0 0 0 0 #000;
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
.pc90 {
    max-width: 1100px;
    padding: 10px 1%;
    margin: auto;
    display: block;
    .form {
        margin: 15px 0;
    }
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

.left-bar,
.right-bar {
    background: #fff;
    margin: 0px 0.5%;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    box-sizing: border-box;
    border-radius: 3px;
}
.left-bar {
    width: 59%;
    float: left;
}
.right-bar {
    width: 39%;
    float: right;
    &:not(:first-child) {
        margin-top: 10px;
    }
}

.center,
.table {
    text-align: center;
}

.header_info {
    width: 45%;
    float: left;
    padding-right: 10px;
    .slog {
    }
    .tip {
        font-weight: 400;
        color: #000;
        padding: 15px 0 0 0;
    }
}

.search {
    width: 45%;
    float: right;
}

.bh-thumb,
.left {
    float: left;
}

.table {
    border-collapse: collapse;
    margin: 5px auto;
    margin-top: 12px;
    border-radius: 5px;
    width: 99%;
    display: table;
    background-color: #fff;
    .td {
        padding: 10px 2px;
        border: 1px solid #d5d5d5;
        .play-count {
            color: #666;
        }
    }
}

.plmenu {
    padding: 5px 0;
    &:nth-child(2n + 1) > td:nth-child(1) {
        width: 40px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        color: #8c8c8c;
    }
    &:nth-child(2n + 2) {
        border-bottom: 1px solid #f5f5f5;
    }
    &:last-child {
        border-bottom: 0;
    }
}

.collapse-menu {
    position: relative;
}

.collapse-view-more {
    display: none;
    width: 100%;
    height: 40px;
    line-height: 20px;
    padding: 10px 10px;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    color: #065fd4;
    text-decoration: underline;
}

.menu {
    display: block;
    height: 100%;
    padding: 10px 0;
    margin: 0 10px;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid #ededed;
    transition: all 0.5s ease;
    &:nth-last-of-type(1),
    &:last-child {
        border-bottom: none;
    }
    &:first-child,
    &:nth-first-of-type(1) {
        padding-top: 0;
    }
    &:last-child {
        border: 0;
    }
    &:nth-child(even) {
    }
    p {
        margin-left: 38px;
    }
}

.detail-thumb {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-left: 0px;
    float: left;
    display: block;
    border-radius: 3px;
    font-size: 10px;
    color: #888;
    line-height: 1;
    text-align: justify;
    img {
        vertical-align: middle;
        padding: 0;
        box-sizing: border-box;
        border-radius: 2px;
        width: 60px;
        height: 60px;
        overflow: hidden;
    }
}
.gt {
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(94, 94, 94, 0.04);
    margin-top: 10px;
}
.detail-info {
    margin-left: 70px;
    min-height: 60px;
    box-sizing: border-box;
    vertical-align: middle;
    display: block;
    .sg:first-child {
        margin-top: 0;
    }
}

.dli {
    margin: 0;
}
.download {
    color: #fff;
    font-weight: 600;
    background: #1fcc00;
    border-radius: 3px;
    padding: 8px 12px;
    font-size: 15px !important;
    display: inline-block;
    b {
        &::before {
            //content: '\A020';
            //font-family: 'fonts';
            display: inline-block;
            vertical-align: top;
        }
    }
}

.listen::before {
    content: '';
}

.info {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 30px;
    h2 {
        font-size: 17px;
    }
}

.sg {
    margin-top: 2px;
    color: #606060;
    font-size: 11px;
    margin: 0px;
    display: block;
    box-sizing: border-box;
    a {
        color: #606060;
        font-size: 11px;
        margin: 0px;
        display: block;
        box-sizing: border-box;
    }
    b {
        font-weight: 400;
        font-size: 12px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .play-count {
    }
    b:before {
        color: #ccc;
    }
}

.ab a,
.ht:first-child {
    margin-top: 0;
}
.play-count {
    padding: 1px;
    font-weight: 400;
    font-size: 12px;
    &:before {
        content: '\A001';
        font-family: fonts;
        padding-right: 5px;
    }
}

.single {
    padding: 1px;
    font-weight: 400;
    font-size: 12px;
}
.single:before {
    content: '\A022';
    font-family: fonts;
    padding-right: 5px;
}

.ab a {
    color: blue;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    overflow: hidden;
    max-height: 16px;
    -webkit-line-clamp: 1;
    white-space: normal;
    display: -webkit-box;
    max-height: 44px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ht {
    display: block;
    padding: 0 10px 10px 10px;
    color: #000;
    font-size: 18px;
    text-transform: none;
    border-bottom: 1px solid #ededed;
    background: 0 0;
}
h1.ht {
    padding-top: 10px;
    text-transform: capitalize;
}
#main h1.ht > a {
    color: blue;
}
.ht h1,
.lbh {
    font-size: 17px;
}
.lbh {
    font-weight: lighter;
    color: #555;
    padding-left: 5px;
}

dd,
dl,
dt {
    display: inline;
    padding: 0;
}

dl {
    margin: 0 3px 0 0;
    font-size: 12px;
    dd,
    dt {
        margin: 0;
    }
    dt {
        color: #8f8f8f;
    }
    dd {
        color: #4f4f4f;
        font-size: 14px;
    }
}

a {
    color: #00f;
}
.bh-thumb {
    text-align: center;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 0px;
    .bh-thumb img {
        padding: 0;
        border: 4px solid rgba(0, 0, 0, 0.04);
        box-sizing: border-box;
        border-radius: 2px;
        width: 60px;
        height: 60px;
        margin-top: 0px;
    }
}

.lr,
audio {
    width: 100%;
}

.bh-top {
    border: 0;
    padding: 0px 10px;
    margin: 5px auto;
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

.bh-caption {
    border: 0;
    padding: 0px 10px;
    margin: 5px auto;
    h2,
    h3 {
        font-size: 15px;
        display: inline-block;
        margin: 0;
    }
}

.bxh-ico,
.lr {
    border-radius: 0px;
}

.bh-info {
    margin-left: 70px;
    color: #333;
    font-size: 17px;
    text-transform: capitalize;
    margin-top: 0px;
    h2 {
        font-size: 16px !important;
        line-height: 1;
    }
    .play-count {
        display: block;
        padding: 0;
        margin-top: 10px;
    }
}

.bh-audio {
    padding: 30px 10px;
}

.bh-lyric {
    padding: 2px 5px;
    overflow-y: hidden;
}

.lr {
    padding: 10px 10px 30px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    p {
        height: 223px;
        overflow: hidden;
    }
    p.full {
        height: 100%;
    }
    .more {
        color: #00f;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
    }
}

.bxh-ico {
    font-size: 20px;
    padding: 2px;
    color: #ff0b02;
}
.stt {
    font-size: 13px;
    padding: 0;
    border-radius: 30px;
    display: block;
    border: 1px solid #bfbfbf;
    vertical-align: middle;
}
.bxh-top {
    border-bottom: 1px dotted #858585;
}
.bxh-top-firt {
    border-bottom: 1px solid #858585;
}
#uptop a,
.btnbox,
.bxh-menu,
.logo,
.tkbh-pagenav,
a.lcbtn {
    text-align: center;
}
.bxh-menu {
    display: inline-block;
    width: 33%;
    margin: auto;
}
.bxh-menu a {
    color: #c9c9c9;
    background: 0 0;
}
.active a {
    color: #474747;
}
.tkbh-top {
    padding: 10px;
    color: #adadad;
    border-bottom: 1px solid #f2f2f2;
    font-size: 12px;
    font-style: normal !important;
    h1 {
        font-size: 18px;
        color: #000;
    }
}
.btnind,
.btnl,
.tkbh-pagenav a {
    color: #fff;
    display: inline-block;
}
.tkbh-pagenav a {
    padding: 2px 5px;
    border-radius: 3px;
    background: #5a13cd;
    margin: 5px;
}
.btnbox {
    margin-top: 15px;
    margin-bottom: 0;
}

.btnind,
.btnl {
    padding: 8px 4px;
    background: rgba(6, 86, 234, 1);
    border-radius: 5px;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0 auto;
}
#uptop a,
.logo {
    font-weight: 700;
}
.btnl {
    padding: 8px 4px;
    margin: 5px 10px;
}
.btnind:before {
    content: '\A047';
    font-family: fonts;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

.logo {
    background: #1bb5f3;
    min-width: 30%;
    padding: 15px 0px;
    img {
        max-width: 250px;
        position: absolute;
        transition: all 1s ease-in-out;
        bottom: -100%;
        left: 0;
    }
    a {
        padding: 0;
        color: #38157a;
        height: 35px;
        width: 250px;
        display: block;
        position: relative;
        margin: auto;
        overflow: hidden;
    }
    .actived {
        img {
            bottom: 0;
        }
    }
}

.search {
    margin: 10px 0;
    min-width: 50%;
    overflow: hidden;
    border: 0;
    box-sizing: border-box;
    padding: 5px 0;
    form {
        margin: 0;
    }
}

.qr {
    border: 0;
    height: 30px;
    padding: 5px;
    background: #fff;
}
form#qr {
    padding: 0;
    border: 0;
}
.search_arrow,
.search_btn,
a.lcbtn {
    display: inline-block;
}
.search_btn {
    top: 0;
    right: 0;
    position: absolute;
    background: #007bff;
    padding: 0 15px;
    font-size: 18px;
    color: #fff;
    height: 100%;
    border: 1px solid #007bff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: 0;
    &:active,
    &:visited {
        background: #3a0750;
    }
}
.search input {
    width: 100%;
    background: #fff;
    padding: 6px 90px 6px 12px;
    box-sizing: border-box;
    outline: 0;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.red {
    color: red;
}
.life {
    color: green;
}
.cate {
    background: rgba(255, 255, 255, 0);
    color: rgba(3, 119, 243, 0.99) !important;
    padding-top: 10px;
}

.cs {
    background: rgba(201, 201, 201, 0.39);
    color: #ff00e9;
    padding: 3px;
    border: 1px dashed green;
}
.cs > a.lcbtn {
    float: none;
}
a.lcbtn {
    padding: 1px 4px;
    background: #000;
    color: #fff;
    font-size: 13px;
    width: 125px;
    border-radius: 15px;
    float: right;
}
.hide {
    display: none;
}
#uptop {
    opacity: 1;
    height: auto;
    position: fixed;
    right: 15px;
    bottom: 10px;
    z-index: 999;
    transition: all 1s;
    a {
        color: #000;
        display: block;
        line-height: 1em;
        padding: 5px 5px 10px;
        background: rgba(103, 103, 103, 0.42);
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
        &:hover {
            color: #444;
        }
    }
    .up_arrow {
        display: block;
        margin: -5px auto auto;
        font-size: 20px;
        position: relative;
        width: 0;
        height: 0;
        &:before {
            content: '';
            display: block;
            position: absolute;
            border: 14px solid rgba(103, 103, 103, 0.42);
            border-left: 22px solid transparent;
            border-right: 23px solid transparent;
            border-top: 0;
            top: -14px;
            left: -23px;
        }
    }
}

.ab a:visited {
    color: #1a0dab;
}

.progress {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #f2f2f2;
}
.progress > div {
    background-color: #04c9fd;
    width: 0;
    height: 3px;
    border-radius: 3px;
}
.lr-line::first-letter {
    text-transform: uppercase;
}
.lr-line {
    box-sizing: border-box;
    padding: 3px 0;
    line-height: 19px;
    min-height: 19px;
    vertical-align: middle;
}
.dls:after {
    content: url(/ico/mb.jpg);
    padding-left: 2px;
}
#mainad {
    background-color: #fff;
    box-shadow: 0 0 0 0 #000;
    margin: 0 -5px;
}
.game img {
    border: 3px solid #ddd;
    border-radius: 15px;
}
a#mp3ring {
    background: #2d7eb8;
    padding: 6px 10px;
    border-radius: 5px;
    color: #fff;
}
a#mp3ring:active {
    background: #000;
}
iframe#twitter-widget-0 {
    top: 0;
    position: relative !important;
}
.fb-share-button.fb_iframe_widget.fb_iframe_widget_fluid,
.fb-share-button.fb_iframe_widget {
    vertical-align: top;
    top: 0 !important;
}
.fb-share-button.fb_iframe_widget.fb_iframe_widget_fluid > span,
.fb-share-button.fb_iframe_widget > span {
    vertical-align: top !important;
    top: 0 !important;
}
ul .item {
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    display: flex;
}

@media screen and (max-width: 768px) {
    #main {
        max-width: 600px;
        padding: 0 1%;
    }
    .left-bar,
    .right-bar {
        width: 100%;
        background: #fff;
        float: none;
        margin: 10px 0;
    }
    h1.ht {
        text-align: center;
    }
    .lr {
    }
    .form {
    }

    .pc90 {
        max-width: 600px;
        margin: auto;
        display: block;
        padding: 10px 1%;
    }

    .header_info,
    .search {
        width: 100%;
        float: none;
    }

    .collapse-menu {
        position: relative;
        padding-bottom: 40px;
    }

    .collapse-view-more {
        display: none;
    }

    .collapse-menu .menu:nth-of-type(n + 30) {
        display: none;
        height: 0%;
    }
    .expand .menu:nth-of-type(n + 6) {
        display: block;
        height: 100%;
    }
    .expand .collapse-view-more {
        display: none;
    }
    .expand.collapse-menu {
        padding-bottom: 0;
    }
    .header_info {
        padding: 0;
    }
    .header_info .slog {
        text-align: center;
    }
    .header_info .tip {
        font-style: italic;
    }
}
