
.icon-headphones:before { content: '\a001'; } /* 'ꀁ' */
.icon-file-audio:before { content: '\a002'; } /* 'ꀂ' */
.icon-download:before { content: '\a003'; } /* 'ꀃ' */
.icon-play:before { content: '\a004'; } /* 'ꀄ' */
.icon-search:before { content: '\a005'; } /* 'ꀅ' */
.icon-search-1:before { content: '\a006'; } /* 'ꀆ' */
.icon-eye:before { content: '\a007'; } /* 'ꀇ' */
.icon-plus-squared:before { content: '\a008'; } /* 'ꀈ' */
.icon-expand:before { content: '\a009'; } /* 'ꀉ' */
.icon-minus-squared:before { content: '\a010'; } /* 'ꀐ' */
.icon-collapse:before { content: '\a011'; } /* 'ꀑ' */
.icon-cancel:before { content: '\a012'; } /* 'ꀒ' */
.icon-cancel-1:before { content: '\a013'; } /* 'ꀓ' */
.icon-cancel-2:before { content: '\a014'; } /* 'ꀔ' */
.icon-cancel-3:before { content: '\a015'; } /* 'ꀕ' */
.icon-cancel-circled:before { content: '\a016'; } /* 'ꀖ' */
.icon-cancel-circled-1:before { content: '\a017'; } /* 'ꀗ' */
.icon-download-alt:before { content: '\a018'; } /* 'ꀘ' */
.icon-download-1:before { content: '\a019'; } /* 'ꀙ' */
.icon-download-2:before { content: '\a020'; } /* 'ꀠ' */
.icon-download-3:before { content: '\a021'; } /* 'ꀡ' */
.icon-mic:before { content: '\a022'; } /* 'ꀢ' */
.icon-mic-1:before { content: '\a023'; } /* 'ꀣ' */
.icon-mic-2:before { content: '\a024'; } /* 'ꀤ' */
.icon-mic-3:before { content: '\a025'; } /* 'ꀥ' */
.icon-video:before { content: '\a026'; } /* 'ꀦ' */
.icon-video-1:before { content: '\a027'; } /* 'ꀧ' */